.wrapper {
  padding: 100px 100px 30vh;
  height: 100vh;
}
.block {
  height: 100%;
  box-shadow: 0 0 10px rgb(83, 83, 83);
  border-radius: 5px;
}
.block {
  background: url("../images/tornado-wild-weather-b05aq7tbjrtjhwvm.jpg") 0 0 / auto no-repeat, url("../images/f1fda080713507f02387.jpg") 0% 0 / auto 300px no-repeat, url("../images/f1fda080713507f02387.jpg") 20% 0 / auto 300px no-repeat, #333;



}